body{
  background-color: #faa0e6;
}

.quadrado {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 200px;
  height: 280px;
  transition: transform 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.quadrado:hover {
  transform: scale(1.05);
}

.quadrado img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.nomeCortado {
  font-size: 16px;
  margin: 8px 0;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textoCortado {
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listaPersonagens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  margin-top: 2rem;
  margin: 40px;
}


.modalFundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalConteudo {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  font-family: 'Segoe UI', sans-serif;
}

.modalConteudo img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modalConteudo h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

.modalConteudo p {
  font-size: 14px;
  color: #555;
  text-align: left;
  margin: 5px 0;
}

.modalConteudo button {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #faa0e6;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.modalConteudo button:hover {
  background-color: #f356d1;
}

.parteTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.parteTitulo h1{
   font-size: 35px;
 }

.barraBusca{
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);

}

.quadrado p {
  font-size: 15px;
  margin: 17px 0 0 0;
}

.quadrado h2 {
  font-size: 20px;
  margin: 15px 0 0 0;
  color: #222;
}